/* 
    Document   : estilo.css
    Created on : 25/09/2017, 01:50:00
    Author     : Ely OTERO
*/

body{
    background:lightgreen;
    text-align: center;
    font-size: 30px;
}


h1{
    text-align: center;
     font-family:Tahoma,Arial,Helvetica, sans-serif;

    font-size:32px;
    color:darkblue;
}
h2{
    text-align: center;
    font-family:Tahoma,Arial,Helvetica, sans-serif;
    font-size:20px;
    color:darkcyan;
}

p{
    text-align: center;
font-family:Tahoma,Arial,Helvetica, sans-serif;
    font-size:18px;
    color:darkblue;
    padding: 15px; 

}
input {
    text-align: center;
    background: white;
    border-color: black;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 300px;
}
select {
    text-align: center;
    background: white;
    border-color: black;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 400px;
}
option{
    text-align: center;
    width: 400px;
}
table {
    align-content: center;
    text-align: center;
font-family:Tahoma,Arial,Helvetica, sans-serif;
    font-size:14px;
    color:darkblue;
    cellpadding: 2px; 
  width: 250;
}

form{
    align-content: center;
}
th,tr {
    padding: 0px;
  width:300px;  
  height: 20px;
}